* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 100vw;
    background-color: aqua;
    border-bottom: 1px solid;
}

header nav {
    height: 100%;
    width: 60%;
    float: right;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

header nav a {
    text-decoration: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}