* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 10vh;
    width: 100vw;
    background-color:aqua;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
}

nav {
    height: 80%;
    width: 50%;
    position: relative;
    left: 50%;
    padding: 1%;
}

nav a {
    text-decoration: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5%;
    padding: 1%;
}

#div1 {
    height: 20vh;
    width: 20vw;
    background-color: green;
    border-radius: 50%;
}

main {
    position: relative;
    top: 15vh;
}

#container {
    display: inline-block;
    width: 100vw;
    border: 2px solid;
}

.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 2%;
    display: inline-block;
}

#box4 {
    right: 10px;
    position: fixed;
}

footer {
  position: fixed;       /* stays visible at bottom */
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vh;          /* adjust as needed */
  background-color: #ddd;
  text-align: center;
  line-height: 10vh;     /* centers text vertically */
  border-top: 1px solid black;
  z-index: 2;
}