* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

header {
    height: 12vh;
    width: 100%;
    background-color: aqua;
    border-bottom: 1px solid;
}

header nav {
    height: 100%;
    width: 60%;
    float: right;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

header nav a {
    width: 12%;
    font-size: 125%;
    text-decoration: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

    transition-property: all;
    transition-duration: 0.2s;
}

header nav a:hover {
    color: blueviolet;
    transform: scale(1.1) translate(0px , 10%); 
}

body {
    overflow-x: hidden;
}
 
main {
    top: 10vh;
}

#img {
    border: 1px solid;
    height: 40vh;
    width: 98vw;
    margin: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#container {
    height: 30vh;
    width: 50vw;
    border: 1px solid;
    margin: 1vw;

    display: flex;
    align-items: center;
}

.box {
    height: 80%;
    width: 40%;
    background-color: blue;
    margin: 1%;
}

#box3 {
    flex-shrink: 0;
    background-color: red;
}

#animation {
    height: 60px;
    width: 96vw;
    margin: 2vw;
    border: 2px solid;
}

#response {
    height: 100%;
    width: 0%;
    border: 1px solid;
    background-color: green;

    position: relative;
    animation-name: animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes animation {
    from {width: 0%;}
    to {width: 90%;}
}

@media screen and (max-width: 300px)  {
    #response {background-color: green;}
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    #response {background-color: red;}
}

@media screen and (min-width: 400px) {
    #response {background-color: blue;}
}

footer {
    width: 100%;
    height: 30vh;
    bottom: 2vh;
    background-color: rgb(23, 136, 230);
    align-items: center;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

#social {
    height: 50%;
    width: 30%;
}

#social p {
    font-size: xx-large;
    text-align: center;
}

#socialicon {
    font-size: xx-large;
    text-decoration: none;
    margin: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#socialicon a {
    color: blue;
    transition: transform 1s ease-in-out;
}

#socialicon a:hover {
    transform: rotate(360deg) scale(1.5) rotate(360deg);
    color: darkblue;
}

#adress {
    font-size: xx-large;
}