footer {
  width: 100%;
  height: 90vh;
  background-color: #607d8b;
  padding-top: 15vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-container {
  width: 45%;
  height: 80%;
  border: 1px solid;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-items-container {
  height: 40%;
  width: 29%;

  display: flex;
  flex-direction: column;
}

.single-nav-items-container {
  width: 13%;
}

.nav-menu {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
}

.nav-submenu {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.social {
  width: 100%;
  height: 40%;
}

.social-text {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  margin: 5px;
  color: white;
  background-color: #455a65;
  text-decoration: none;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  transition: transform 0.25s linear;
}

.fa-facebook-f:hover {
  transform: rotate(360deg);
  background-color: #0766FF;
}

.fa-instagram:hover {
  transform: rotate(360deg);
  background-color: #F90964;
}

.fa-youtube:hover {
  transform: rotate(360deg);
  background-color: #FF0033;
}

.fa-linkedin-in:hover {
  transform: rotate(360deg);
  background-color: #0A66C2;
}

.center-container {
  width: 45%;
  height: 80%;
  border: 1px solid;

  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.material-symbols-outlined {
  display: inline-block;
  color: blue;
  font-size: 1.5rem;
}

.center {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.center-city {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.center-phone-email {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-contact {
  color: white;
  text-decoration: none;
  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright {
  width: 100%;
  height: 15%;
  border: 1px solid black;
  color: white;
  background-color: #455a65;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Version */

@media (max-width: 800px) {
  footer {
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
  }
  
  .center-container {
    width: 100%;
    justify-content: center;
  }

  .center {
    width: 90%;
    margin: 10px 0;
  }

  .nav-container {
    width: 100%;
    height: auto;
  }

  .nav-items-container {
    width: 40%;
    height: auto;
    margin: 10px;
  }

  .copyright {
    height: 10vh;
  }
}