<div class="center-container">
  <!-- Ahmedabad -->
  <div class="center">
    <div class="center-city">
      <span class="material-symbols-outlined">location_city</span>Ahmedabad
    </div>

    <div class="center-contact">
      <span class="material-symbols-outlined">home</span>
      202/203, Vishwanath Northview, besides Regional Passport Office,
      University Rd, Ahmedabad - 380009
    </div>

    <a href="tel:7041774887" class="center-contact">
      <span class="material-symbols-outlined">phone_in_talk</span>7041774887
    </a>

    <a href="mailto:ahmedabad@imsindia.com" class="center-contact">
      <span class="material-symbols-outlined">mail</span>ahmedabad@imsindia.com
    </a>
  </div>

  <!-- Vadodara -->
  <div class="center">
    <div class="center-city">
      <span class="material-symbols-outlined">location_city</span>Vadodara
    </div>

    <div class="center-contact">
      <span class="material-symbols-outlined">home</span>
      316, Atlantis, Opp Sarabhai Petrol Pump, near Genda Circle, Sarabhai Rd,
      Vadodara - 390007
    </div>

    <a href="tel:7862950552" class="center-contact">
      <span class="material-symbols-outlined">phone_in_talk</span>78629 50552
    </a>

    <a href="mailto:vadodara@imsindia.com" class="center-contact">
      <span class="material-symbols-outlined">mail</span>vadodara@imsindia.com
    </a>
  </div>

  <!-- Surat -->
  <div class="center">
    <div class="center-city">
      <span class="material-symbols-outlined">location_city</span>Surat
    </div>

    <div class="center-contact">
      <span class="material-symbols-outlined">home</span>
      201/202, 4th Floor, Shyam Plaza, beside Shyam Mandir Road, Vesu, Althan,
      Surat - 395007
    </div>

    <a href="tel:7046801543" class="center-contact">
      <span class="material-symbols-outlined">phone_in_talk</span>7046801543
    </a>

    <a href="mailto:surat@imsindia.com" class="center-contact">
      <span class="material-symbols-outlined">mail</span>surat@imsindia.com
    </a>
  </div>

  <!-- Gandhinagar -->
  <div class="center">
    <div class="center-city">
      <span class="material-symbols-outlined">location_city</span>Gandhinagar
    </div>

    <div class="center-contact">
      <span class="material-symbols-outlined">home</span>
      A-201, Landmark, Kudasan-Por road, Gandhinagar - 382421
    </div>

    <a href="tel:9825700668" class="center-contact">
      <span class="material-symbols-outlined">phone_in_talk</span>98257 00668
    </a>

    <a href="mailto:gandhinagar@imsindia.com" class="center-contact">
      <span class="material-symbols-outlined">mail</span>gandhinagar@imsindia.com
    </a>
  </div>
</div>
<div class="nav-container">
  <div class="nav-items-container">
    <a href="../../pages/programs/all-programs.html" class="nav-menu">Programs</a>
    <a href="../../pages/programs/cat.html" class="nav-submenu">CAT</a>
    <a href="../../pages/programs/cmat.html" class="nav-submenu">CMAT, NMAT, SNAP</a>
    <a href="../../pages/programs/ipmat.html" class="nav-submenu">IPMAT</a>
    <a href="../../pages/programs/clat.html" class="nav-submenu">CLAT</a>
    <a href="../../pages/programs/study-abroad.html" class="nav-submenu">STUDY ABROAD</a>
  </div>
  <div class="nav-items-container">
    <a href="" class="nav-menu">IMS Centers</a>
    <a href="../../pages/ims-centers/ims-ahmedabad.html" class="nav-submenu">IMS Ahmedabad</a>
    <a href="../../pages/ims-centers/ims-vadodara.html" class="nav-submenu">IMS Vadodara</a>
    <a href="../../pages/ims-centers/ims-surat.html" class="nav-submenu">IMS Surat</a>
    <a href="../../pages/ims-centers/ims-gandhinagar.html" class="nav-submenu">IMS Gandhinagar</a>
  </div>
  <div class="nav-items-container">
    <a href="https://imsgujarat.com/student-support/" class="nav-menu">Student Support</a>
    <a href="https://imsgujarat.com/student-support/" class="nav-submenu">Leave Application</a>
    <a href="https://imsgujarat.com/student-support/" class="nav-submenu">Doubt Solving Session</a>
    <a href="https://imsgujarat.com/profile-building/" class="nav-submenu">Profile Building</a>
  </div>
  <div class="nav-items-container single-nav-items-container">
    <a href="../../pages/blogs/blogs.html" class="nav-menu">Blogs</a>
    <a href="../../pages/enquiry/enquiry.html" class="nav-menu">Enquiry</a>
  </div>
</div>
<div class="social">
  <div class="social-text">Get In Touch</div>
  <div class="social-icons">
    <a href="https://www.facebook.com/imsahmedabad/" class="fa-brands fa-facebook-f"></a>
    <a href="https://www.instagram.com/imsahmedabad/" class="fa-brands fa-instagram"></a>
    <a href="https://www.youtube.com/@imsgujarat6405" class="fa-brands fa-youtube"></a>
    <a href="https://www.linkedin.com/company/ims-gujarat/" class="fa-brands fa-linkedin-in"></a>
  </div>
</div>
<div class="copyright">© IMS Learning Resources Pvt. Ltd.</div>