<!-- Mobile Version -->
<!-- MOBILE DRAWER (opens only on mobile) -->
<div class="mobile-nav-overlay"></div>

<div class="mobile-nav-drawer">
  <div class="mobile-drawer-header">
    <a href="../../pages/home-page/index.html" class="brand brand-width">
      <img src="../../assets/images/header/ims-logo.png" class="drawer-logo" />
      <span class="brand-name">Gujarat</span>
    </a>
    <span class="mobile-close-btn material-symbols-outlined" id="close-icon">close</span>
  </div>

  <div class="mobile-nav-links">
    <div class="mobile-accordion">
      <div class="mobile-acc-head">Programs <span class="toggle-icon">▾</span></div>
      <div class="mobile-acc-body">
        <a href="../../pages/programs/all-programs.html">All Programs</a>
        <a href="../../pages/programs/cat.html">CAT</a>
        <a href="../../pages/programs/cmat.html">CMAT, NMAT, SNAP</a>
        <a href="../../pages/programs/ipmat.html">IPMAT</a>
        <a href="../../pages/programs/clat.html">CLAT</a>
        <a href="../../pages/programs/study-abroad.html">STUDY ABROAD</a>
      </div>
    </div>

    <div class="mobile-accordion">
      <div class="mobile-acc-head">IMS Centers <span class="toggle-icon">▾</span></div>
      <div class="mobile-acc-body">
        <a href="../../pages/ims-centers/ims-centers.html">IMS Gujarat Centers</a>
        <a href="../../pages/ims-centers/ims-ahmedabad.html">IMS Ahmedabad</a>
        <a href="../../pages/ims-centers/ims-vadodara.html">IMS Vadodara</a>
        <a href="../../pages/ims-centers/ims-surat.html">IMS Surat</a>
        <a href="../../pages/ims-centers/ims-gandhinagar.html">IMS Gandhinagar</a>
      </div>
    </div>

    <div class="mobile-accordion">
      <div class="mobile-acc-head">Student Support <span class="toggle-icon">▾</span></div>
      <div class="mobile-acc-body">
        <a href="https://imsgujarat.com/student-support/">Leave Application</a>
        <a href="https://imsgujarat.com/student-support/">Doubt Solving Session</a>
        <a href="https://imsgujarat.com/profile-building/">Profile Building</a>
      </div>
    </div>

    <a class="mobile-single-link" href="../../pages/blogs/blogs.html">Blogs</a>
    <a class="mobile-single-link" href="../../pages/enquiry/enquiry.html">Enquiry</a>
  </div>
</div>

<!-- Desktop Version -->
<span class="material-symbols-outlined menu-button" id="menu-icon">menu</span>
<div class="company">
  <a class="brand" href="../../pages/home-page/index.html">
    <img class="logo" src="../../assets/images/header/ims-logo.png" alt="IMS Logo" /><span
      class="brand-name">Gujarat</span>
  </a>
</div>

<nav>
  <div class="nav-item">
    <a href="../../pages/programs/all-programs.html">Programs</a>
    <div class="dropdown-card" aria-hidden="true">
      <a href="../../pages/programs/cat.html">CAT</a>
      <a href="../../pages/programs/cmat.html">CMAT, NMAT, SNAP</a>
      <a href="../../pages/programs/ipmat.html">IPMAT</a>
      <a href="../../pages/programs/clat.html">CLAT</a>
      <a href="../../pages/programs/study-abroad.html">STUDY ABROAD</a>
    </div>
  </div>

  <div class="nav-item">
    <a href="../../pages/ims-centers/ims-centers.html">IMS Centers</a>
    <div class="dropdown-card" aria-hidden="true">
      <a href="../../pages/ims-centers/ims-ahmedabad.html">IMS Ahmedabad</a>
      <a href="../../pages/ims-centers/ims-vadodara.html">IMS Vadodara</a>
      <a href="../../pages/ims-centers/ims-surat.html">IMS Surat</a>
      <a href="../../pages/ims-centers/ims-gandhinagar.html">IMS Gandhinagar</a>
    </div>
  </div>

  <div class="nav-item">
    <a href="https://imsgujarat.com/student-support/">Student Support</a>
    <div class="dropdown-card" aria-hidden="true">
      <a href="https://imsgujarat.com/student-support/">Leave Application</a>
      <a href="https://imsgujarat.com/student-support/">Doubt Solving Session</a>
      <a href="https://imsgujarat.com/profile-building/">Profile Building</a>
    </div>
  </div>

  <a href="../../pages/blogs/blogs.html">Blogs</a>
  <a href="../../pages/enquiry/enquiry.html">Enquiry</a>
</nav>

<div class="call-btn"><a href="tel:7041774877">📞 7041774877</a></div>
<hr class="header-line" />