* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  padding-top: 12vh;
  overflow-x: hidden;
}

/* Header Section */

header {
  background-color: white;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 3.5%;

  display: flex;
  align-items: center;
}

#myntralogo {
  height: 40px;
}

.nav {
  display: flex;
  width: 45%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5%;
}

.nav a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5.1% 3% 5.1% 3%;
}

.nav a:hover {
  border-bottom: 3.5px solid red;
  border-top: 3.5px solid white;
  padding: 5.1% 3% 5.1% 3%;
}

.nav a sup {
  color: #ff3f34;
  font-size: 10px;
  font-weight: 700;
}

.searchbar {
  height: 40px;
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#searchicon {
  height: 40px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 5px 0 0 5px;
}

#searchinput {
  color: #696e79;
  background-color: #f5f5f6;
  height: 40px;
  border: 0;
  border-radius: 0 5px 5px 0;

  display: flex;
  flex-grow: 1;
  align-items: center;
}

#searchinput:focus {
  outline: none;
}

.action {
  width: 20%;
  padding-right: 1%;

  display: flex;
  justify-content: space-evenly;
}

#profile, #wishlist, .action a {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bag-icon {
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  color: #282c3f;
  border-bottom: 3.5px solid white;
  border-top: 3.5px solid white;
  padding: 5.1% 3% 5.1% 3%;
}

#profile:hover {
  color: #282c3f;
  border-bottom: 3.5px solid red;
  border-top: 3.5px solid white;
  padding: 5.1% 3% 5.1% 3%;
}

#wishlist {
  cursor: pointer;
}

.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  position: relative;
  left: -10px;
  top: -15px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  header {
    height: 16vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
  }

  #menu-icon {
    font-size: 30px;
    font-weight: 100;
    visibility: visible;
    order: 1;
    width: 10%;
    margin-left: 2%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    display: none;
  }

  .logo {
    order: 2;
    width: 20%;
    height: 50%;
  }

  #myntralogo {
    height: 25px;
  }

  .searchbar {
    order: 4;
    width: 90%;
    height: 45%;
    margin: 0vh 0vh 2vh 0vh;
  }

  #searchicon {
    border-radius: 25px 0px 0px 25px;
    background-color: #e6e6ed;
  }

  #searchinput {
    border-radius: 0px 25px 25px 0px;
    background-color: #e6e6ed;
  }

  .action {
    order: 3;
    width: 50%;
    height: 50%;
    margin-left: 10%;
  }

  main {
    padding-top: 4vh;
  }
}

/* Main Section */

.items-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 2vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  width: 200px;
  margin: 10px;
}

.item-container a {
  text-decoration: none;
}


.item-image {
  width: 100%;
}

.rating {
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.company-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.price {
  margin: 5px 0px;
}

.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn-add-bag {
  background-color: lightgreen;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .items-container {
    width: 100%;
    margin: 0;
  }

  .item-container {
    width: 75%;
  }
}

/* Footer Section */

footer {
  background-color: #fafbfc;
  padding: 30px 0 20px 0;
}

.footercontainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 15px;
}

.footercontainer a {
  text-decoration: none;
  color: #696b79;
  display: block;
  font-size: 1rem;
  padding-bottom: 5px;
}

.footercontainer h3,
p {
  font-size: 1rem;
  color: #282c3f;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

#footercategories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#socialicon {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#socialicon a {
  font-size: 1.5rem;
}

#copyright {
  text-align: center;
  color: #94969f;
  padding: 1%;
  margin-top: 1%;
}
