<%- include("../partials/head") %>

  <body class="bg-gray-100 min-h-screen">
    <%- include("../partials/header") %>

      <main class="flex justify-center items-center w-full">
        <div class="max-w-md bg-white shadow-2xl rounded-2xl p-10 text-center bg-gradient-to-br from-red-100
          via-white to-pink-100">

          <h1 class="text-5xl font-extrabold text-red-500 mb-4">
            My Bookings
          </h1>

          <!-- Message -->
          <p class="text-xl text-gray-700 font-semibold mb-2">
            Bookings will appear here
          </p>
        </div>
      </main>

  </body>

  </html>